<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260788420742-n55htjcph7n7si1bohimti6fbq9kcl2s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260788420742-n55htjcph7n7si1bohimti6fbq9kcl2s</string>
	<key>API_KEY</key>
	<string>AIzaSyCMj0L9No54DHxUCbE-hLMsV6uhfp2LLmM</string>
	<key>GCM_SENDER_ID</key>
	<string>260788420742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>odc.E-comerce</string>
	<key>PROJECT_ID</key>
	<string>odc-ecomerce</string>
	<key>STORAGE_BUCKET</key>
	<string>odc-ecomerce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260788420742:ios:24408817068e0bfe115107</string>
</dict>
</plist>